@page "/"
@inject IBmsHandlerRegistry BmsHandlerRegistry

<h3>BMS Network</h3>

@if (handlers == null)
{
    <p>Loading...</p>
}
else
{
    <div class="grid">
        @foreach (var handler in handlers)
        {
            <HandlerCard BmsHandler="handler" />
        }
    </div>
}

@code {
    private IReadOnlyCollection<IBmsHandler>? handlers;

    protected override void OnInitialized()
    {
        handlers = BmsHandlerRegistry.GetHandlers();
    }
}
