@page "/"
@rendermode InteractiveServer
@inject IBmsHandlerRegistry BmsHandlerRegistry

<h3>BMS Network</h3>

@if (handlers == null)
{
    <p>Loading...</p>
}
else
{
    <div class="flex justify-start gap-x-10">
        @foreach (var handler in handlers)
        {
            <HandlerCard BmsHandler="handler" />
        }
    </div>
}

<!-- <h3>Azure Information</h3> -->
<!---->
<!-- <div class="grid"> -->
<!--     <IotDeviceCard /> -->
<!-- </div> -->

<!-- <img src="images/sans.gif" alt="Test GIF" /> -->

@code {
    private IReadOnlyCollection<IBmsHandler>? handlers;

    protected override void OnInitialized()
    {
        handlers = BmsHandlerRegistry.GetHandlers();
    }
}
