<div class="card">
    <div>
        <ConnectionStatusLight Status="@IotDevice.Connected" /> Connection: @IotDevice.Connected
    </div>
    <p>Type: @IotDevice.Type</p>
    <p>Total messages sent: @IotDevice.TotalMessagesSent</p>
</div>

@code {
    [Parameter] public IIotDevice IotDevice { get; set; } = default!;
}
